# Fixed syntax - note the curly braces and env. prefix
*.gradeinsight.com, gradeinsight.com {
    tls {
        dns cloudflare {
            api_token {env.CLOUDFLARE_API_TOKEN}
        }
    }
    
    reverse_proxy gradeinsight-app:8081 {
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
        header_up Host {host}
    }
    
    log {
        output stdout
        format json
    }
}
